body {
    background-color: black;
}

* {
    box-sizing: border-box;
}

main {
    background-color: #1E1F29;
    border-radius: 10px;
    padding: 48px;
}

input,
textarea,
select {
    background-color: #2E2D3D;
    color: #FAFAFA;
    font-weight: 400px;
    font-size: 16px;
    line-height: 120%;
    font-family: sans-serif;
    padding: 47px 28px 12px;
    border-radius: 10px;
    border: none;
}

label {
    position: absolute;
    top: 12px;
    left: 48px;
    font-weight: 400px;
    font-size: 12px;
    line-height: 120%;
    color: #AFB2BF;
}

input::placeholder,
textarea::placeholder,
select::placeholder {
    color: #4a4863;
    font-size: 16px;
}

::placeholder,
option,
textarea,
select {
    color: #FAFAFA;
}

button {
    background-color: #6C38CC;
    color: #FAFAFA;
    border: none;
    border-radius: 10px;
    padding: 12px 24px;
    font-weight: 400px;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
}

h1 {
    font-weight: 700;
    font-size: 36px;
    font-family: sans-serif;
    color: #FAFAFA;
    margin: 0 0 32px 0;
    text-align: center;
}

.field {
    margin-bottom: 16px;
    position: relative;
}

.field img {
    position: absolute;
    top: 17px;
    left: 16px;
}